{% extends 'base.html.twig' %}

{% block title %}Modifier le Tag{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Modifier le tag : {{ tag.name }}</h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="d-flex justify-content-between">
                    <a href="{{ path('admin_tag_index') }}" class="btn btn-secondary equal-width-btn">
                        <i class="fas fa-arrow-left"></i> Retour à la liste
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

<style>
    .equal-width-btn {
        min-width: 100px; /* Définissez la largeur minimale souhaitée pour les boutons */
        min-height: 44px;
    }
</style>
{% endblock %}
